{% extends 'index.html' %}
{% block content %}
        <div class="profile">

            <div class="profile-data">
                <div class="profile_img">
                    <div class="image">
                        <img src="" alt="img8">
                    </div>
                </div>
                <div class="personal">
                    <div class="edit">
                        <p>d_kalaydzhiev</p>

                        <a href="#">
                            <img class="edit-img" src="" alt="edit button">
                        </a>

                        <a href="">
                            <img class="bin-img" src="" alt="bin button">
                        </a>

                    </div>
                    <div class="data">

                        <span>4</span>
                        <p>photos</p>

                        <span>7</span>
                        <p>pets</p>

                        <span>436</span>
                        <p>likes</p>
                    </div>
                    <h3 class="names">Diyan Kalaydziev</h3>

                    <p class="email">d.denov@gmail.com</p>

                    <p class="gender">Male</p>
                </div>
            </div>
        </div>


{% endblock %}