{% extends 'index.html' %}
{% block content %}
    <main>
        <div class="welcome">
            <h1>Welcome to our library</h1>

        </div>
        <section id="best-sellers">
            <div class="welcome">
                <h2>Best Sellers of the month</h2>
            </div>
            <section id="best-books">
                <ul class="book-card">
                    <img src="#" width="50px">
                    <li>Title</li>
                    <li>Author</li>
                    <li>ganre</li>
                    <li>Description</li>
                </ul>

                <ul class="book-card">
                    <img src="#" width="50px">
                    <li>name</li>
                    <li>author</li>
                    <li>ganre</li>
                    <li>pages</li>
                </ul>
                <ul class="book-card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgoIHq82qLYnvomfz5ZkW5CLQ8VNxCyI-hUw&usqp=CAU"
                         alt="pet img">
                    <li><strong>name</strong></li>
                    <li>author</li>
                    <li>ganre</li>
                    <li>pages</li>
                </ul>
            </section>
        </section>
    </main>
{% endblock %}